<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <!-- These are default values, it's not any production app or something like that so they're there. -->
    <connectionStrings>
        <add name="CompanyDelegations"
            connectionString="Data Source=localhost;
            Initial Catalog=CompanyDelegations;
            TrustServerCertificate=True;MultiSubnetFailover=True;
            User Id=sa;
            Password=Haslo123!"/>
    </connectionStrings>
</configuration>